{
  "PROD": {
    "VERSION": {
      "NATIVE": "4.0",
      "FRONT": "4.0"
    },
    "SETTINGS": {
      "TYPE": "B2C",
      "APPLICATION_TYPE": "MOBILE",
      "NOTICE_USE": false
    },
    "SECURITY": {
      "CONTENTS_INTEGRITY": false,
      "INACTIVITY_SECONDS": 300
    },
    "STATUSBAR": {
      "MODE": "DEFAULT",
      "BGCOLOR": "FFFFFF",
      "TEXT_BLIGHT": "BLACK"
    },
    "WEBVIEW": {
      "BACKGROUNDCOLOR": {
        "NORMAL": "FFFFFFFF",
        "DIALOG": "00000000"
      }
    },
    "NETWORK": {
      "FILE": {
        "CONNECT": 3,
        "READ": 15
      },
      "API": {
        "CONNECT": 3,
        "READ": 15
      },
      "ENCRYPTION_USE": false,
      "DETECT_STAUTS": false
    },
    "PUSH" : {
      "URL" : "http://218.55.79.93:8390/bizpush/v150/push"
    }
  },
  "SIT": {
    "VERSION": {
      "NATIVE": "4.0",
      "FRONT": "4.0"
    },
    "SETTINGS": {
      "TYPE": "B2C",
      "APPLICATION_TYPE": "MOBILE",
      "NOTICE_USE": false
    },
    "SECURITY": {
      "CONTENTS_INTEGRITY": false,
      "INACTIVITY_SECONDS": 300
    },
    "STATUSBAR": {
      "MODE": "DEFAULT",
      "BGCOLOR": "FFFFFF",
      "TEXT_BLIGHT": "BLACK"
    },
    "WEBVIEW": {
      "BACKGROUNDCOLOR": {
        "NORMAL": "FFFFFFFF",
        "DIALOG": "00000000"
      }
    },
    "NETWORK": {
      "FILE": {
        "CONNECT": 3,
        "READ": 15
      },
      "API": {
        "CONNECT": 3,
        "READ": 15
      },
      "ENCRYPTION_USE": false,
      "DETECT_STAUTS": false
    },
    "PUSH" : {
      "URL" : "http://218.55.79.93:8390/bizpush/v150/push"
    }
  },
  "UAT": {
    "VERSION": {
      "NATIVE": "4.0",
      "FRONT": "4.0"
    },
    "SETTINGS": {
      "TYPE": "B2C",
      "APPLICATION_TYPE": "MOBILE",
      "NOTICE_USE": false
    },
    "SECURITY": {
      "CONTENTS_INTEGRITY": false,
      "INACTIVITY_SECONDS": 300
    },
    "STATUSBAR": {
      "MODE": "DEFAULT",
      "BGCOLOR": "FFFFFF",
      "TEXT_BLIGHT": "BLACK"
    },
    "WEBVIEW": {
      "BACKGROUNDCOLOR": {
        "NORMAL": "FFFFFFFF",
        "DIALOG": "00000000"
      }
    },
    "NETWORK": {
      "FILE": {
        "CONNECT": 3,
        "READ": 15
      },
      "API": {
        "CONNECT": 3,
        "READ": 15
      },
      "ENCRYPTION_USE": false,
      "DETECT_STAUTS": false
    },
    "PUSH" : {
      "URL" : "http://218.55.79.93:8390/bizpush/v150/push"
    }
  }
}
