<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcnc.bizmob.web.domain.user.mapper.UserMapper">

    <select id="callAdminLogin"  resultType="string"  parameterType="map">
   	 SELECT sp_admin_login(
           #{P_USERID, jdbcType=VARCHAR},
           #{P_PWD,    jdbcType=VARCHAR}
         ) AS R_RESULT
    </select>
    
</mapper>
